<!--<app-employee></app-employee>

<app-stylebinding></app-stylebinding>

<app-classbindings></app-classbindings>

<app-stringinterpolation></app-stringinterpolation>

<app-propertybinding></app-propertybinding>

<app-eventbinding1></app-eventbinding1>

<app-template-ref-var></app-template-ref-var>

<app-eventbinding2></app-eventbinding2>

<app-structuraldirective></app-structuraldirective>

<app-task1></app-task1>

<app-task2></app-task2>

<app-task3></app-task3>

<app-switchexample></app-switchexample>

<app-parent1></app-parent1>

<app-parent2></app-parent2>

<app-task4></app-task4>

<app-task5></app-task5>

<app-task6></app-task6>

<app-task8></app-task8>

<app-task9></app-task9>

<app-task11parent></app-task11parent>

<app-inbuiltpipe></app-inbuiltpipe>

<app-custompipe></app-custompipe>

<app-course></app-course>

<router-outlet></router-outlet>

<app-post></app-post>-->

<app-demotdf></app-demotdf>





