<p>switchexample works!</p>
<input #inputcolor type="text" class="form-control w-25">
<br>
<button (click)="onSend(inputcolor.value)" class="btn btn-success">Send</button>
<br>
<div [ngSwitch]="choice">
    <div *ngSwitchCase="'red'" [style.background]="choice">Your color is {{choice}}</div>
    <div *ngSwitchCase="'blue'" [style.background]="choice">Your color is {{choice}}</div>
    <div *ngSwitchCase="'green'" [style.background]="choice">Your color is {{choice}}</div>
    <div *ngSwitchCase="'yellow'" [style.background]="choice">Your color is {{choice}}</div>
    <div *ngSwitchDefault [style.background]="choice==''?'black':'orange'" [style.color]="choice==''?'white':'black'">Your choice is wrong {{choice}}</div>

</div>
