<p>task2 works!</p>

<div class="container">
    <div class="mt-2 mb-2">
        <label for="">Enter number</label>
        <input #num type="number" class="form-control w-25" placeholder="Enter here">
    </div>
    
    <input type="radio" (click)="Square(num.value)" name="same">Square
    <input type="radio" (click)="Cube(num.value)" name="same">Cube
    <div class="mt-2 mb-2">
        <label for="">Result::</label>
        <input [value]="result" type="number" class="form-control w-25" placeholder="Your result will displayed here">
    </div>
    
</div>
